@model GoldenGateShop.Web.ViewModels.Categories.CategoryViewModel
@{
    ViewBag.Title = "Index";
}
<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                @this.ViewBag.categoryName
                <span id="count"></span>
            </h1>
        </div>
        <div class="col-md-3">
            <h3>Filters</h3>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Trades
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul>
                                @foreach (var trade in this.Model.Trades)
                                {
                                    <li>@trade.Name</li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Collapsible Group Item #2
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div id="product-container"></div>
        </div>
        <div id="loading" style="display:none; ">
            <img src="~/Images/loading3.gif" width="50" />
        </div>
    </div>
</div>

@section scripts{
    <script>
        var app = app || {};
        app.pageSize = @this.ViewBag.PageSize;
        app.productCount =  @this.ViewBag.ProductCount;

        var pageSize =
        $(function () {
            $(window).ajaxStart(function () { $('#loading').show(); });
            $(window).ajaxComplete(function () { $('#loading').hide(); });

            var i = 0;

            $.ajax({
                url: "/Categories/GetProducts/@this.ViewBag.categoryName/" + (i++) + window.location.search ,
                method: "GET"
            }).success(function (data) {
                var div = $('<div>').append(data).hide().fadeIn(500);
                $('#product-container').append(div);
            });


            var numPages = Math.ceil(app.productCount / app.pageSize) - 1;

            $(window).scroll(function (e) {
                var body = document.body;
                var scrollTop = this.pageYOffset || body.scrollTop;

                console.log(numPages);
                if (i > numPages) {
                    return;
                }

                if (body.scrollHeight - scrollTop - parseFloat(body.clientHeight) <= 10) {
                    $.ajax({
                        url: "/Categories/GetProducts/@this.ViewBag.categoryName/" + (i++) + window.location.search,
                        method: "GET"
                    }).success(function (data) {
                        var div = $('<div>').append(data).hide().fadeIn(500);
                        $('#product-container').append(div);
                    });
                }
            });
        });
    </script>
}