@model IEnumerable<string>
@{
    ViewBag.Title = "Index";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Categories</h2>
        </div>
        @foreach (var categoryName in this.Model)
        {
            <div class="category col-md-4">
                <a href="/Categories/@categoryName">
                    <h2>
                        @categoryName
                    </h2>
                </a>
            </div>
        }

    </div>

</div>
