body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-y: scroll;
}

html, body {
    height: 100% !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



/*MENU*/

.navbar-inverse {
    background-color: #00BCF2;
}


    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
        color: black;
    }

    .navbar-inverse .navbar-nav > li:hover, .navbar-inverse .navbar-nav > li:focus {
        background-color: #b94a48;
    }

/*MAIN PAGE*/

#my-carousel .carousel-inner img {
    margin: 0 120px;
    height: 300px;
}


div.carousel-container {
    background-color: #f05f40;
    padding: 20px 0;
}

div.promotion {
    color: #3f9bb5;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    background-image: url('../Images/portfolio-2 (1).jpg');
}




div.hot-products {
    background-color: #00BCF2;
    padding: 20px 0;
    color: #b94a48;
}



div.new-products {
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    background-image: url('../Images/header.jpg');
}

    div.hot-products h3 a, div.new-products h3 a {
        color: rgba(0, 0, 0, 0.7);
    }

div.promotion h3 a {
    color: #f05f40;
}

/*Product*/

.description {
    height: 80px;
}

.full-description {
    height: 250px;
    list-style: none;
    padding: 0;
}


/*Input Range Style*/
.slider {
    width: 200px;
    margin: 100px auto;
}

input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 20px;
    margin: 0;
    border: none;
    padding: 1px 2px;
    border-radius: 14px;
    background: #232528;
    box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
    -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
    outline: none; /* no focus outline */
    cursor: pointer;
}

    input[type="range"]::-moz-range-track {
        border: inherit;
        background: transparent;
    }

    input[type="range"]::-ms-track {
        border: inherit;
        color: transparent; /* don't drawn vertical reference line */
        background: transparent;
    }

    input[type="range"]::-ms-fill-lower, input[type="range"]::-ms-fill-upper {
        background: transparent;
    }

    input[type="range"]::-ms-tooltip {
        display: none;
    }

    /* thumb */

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 40px;
        height: 18px;
        border: none;
        border-radius: 12px;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); /* android <= 2.2 */
        background-image: -webkit-linear-gradient(top, #529de1 0, #245e8f 100%); /* older mobile safari and android > 2.2 */
        ;
        background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
    }

    input[type="range"]::-moz-range-thumb {
        width: 40px;
        height: 18px;
        border: none;
        border-radius: 12px;
        background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
    }

    input[type="range"]::-ms-thumb {
        width: 40px;
        height: 18px;
        border-radius: 12px;
        border: 0;
        background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
    }
