@model IEnumerable<string>
@using GoldenGateShop.Common

<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked" id="admin-menu">
        <li id="HomeAdmin">
            <a href="/Administration/HomeAdmin">
                Home
            </a>
        </li>
        @foreach (var item in this.Model)
        {
            <li id="@(item)Admin">
                @if (item == "Home")
                {
                    continue;
                }
                <a href="/Administration/@(item)Admin">
                    @item.ToString().PascalCaseToText()
                </a>
            </li>
        }
    </ul>
</div>


<style>
    .navbar-inverse {
        background-color: yellow;
    }

        .navbar-inverse .navbar-nav > li > a {
            color: black;
        }

            .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
                color: red;
                background-color: transparent;
            }
</style>
