@model IEnumerable<GoldenGateShop.Web.Areas.Administration.ViewModels.CharacteristicValues.CharacteristicTypesViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">@this.ViewBag.Title</h2>
        </div>

        @{Html.RenderAction("Menu", "HomeAdmin");}

        <div class="col-md-9">

            <h2>Index</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="types" class="col-sm-2 control-label">Characteristic types</label>
                    <div class="col-sm-10">
                        @Html.DropDownList("ChracteristicTypesList", null, htmlAttributes: new { @class = "form-control", id = "types" })
                    </div>
                </div>
            </form>
            <div id="loading" style="display:none; ">
                <img src="~/Images/loading3.gif" width="50" />
            </div>
            <div id="table">

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        app.activateMenu('@this.ViewBag.SubLocation');

        $(function () {
            $('#types').on('change', function (ev) {
                var id = $(ev.target).val();

                $.ajax({
                    url: "/Administration/CharacteristicValuesAdmin/GetCharacteristicValuesByCharacteristicType/" + id,
                    method: "GET"
                }).success(function (data) {
                    var div = $('<div>').append(data).hide().fadeIn(500);
                    $('#table').html(div);
                });
            });
        });
    </script>
}