@model IEnumerable<string>

@foreach (string category in this.Model)
{
    <li class="@(this.ViewBag.Location == category ? "active" : "")">
        @Html.ActionLink(category, category, "Categories", new { area = "" }, null)
    </li>
}
